.container{
    border: 1px solid #D5DBE7;
    border-radius: 15px;
    border-collapse: collapse;
}

input{
    position: relative;
    width: 80%;
}

button{
    width:20px;
    height:20px;
}

.first-row{
    background-color: #E7E9EB;
}

.second-row{
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f3f5+0,dce0e4+100 */
background: #f3f3f5; /* Old browsers */
background: -moz-linear-gradient(top,  #f3f3f5 0%, #dce0e4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f3f3f5 0%,#dce0e4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f3f3f5 0%,#dce0e4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f5', endColorstr='#dce0e4',GradientType=0 ); /* IE6-9 */

}

.third-row{
    background-color: #DFE3E8;
}

.footer-row{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f3f5+0,babfc4+100 */
background: #f3f3f5; /* Old browsers */
background: -moz-linear-gradient(top,  #f3f3f5 0%, #babfc4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f3f3f5 0%,#babfc4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f3f3f5 0%,#babfc4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f5', endColorstr='#babfc4',GradientType=0 ); /* IE6-9 */

}

.pages{
    text-decoration: none;
    color: black;
}

.pages-count{
    position: relative;
    float:right;
}